body {

  font-size: 14pt;

  font-family: Source Sans Pro, Helvetica, sans-serif;

  color: black;

  line-height: 14pt;

  padding-left: 5pt;

  padding-right: 5pt;

  padding-top: 5pt;

}



h1 {

  font: 26pt;
  
  font-family: Playfair Display, Times New Roman, sans-serif;

  font-weight: bold;

  line-height: 20pt;

}
